:root {
  --background: #0c0f0a;
  --accent: #e3ff11;
  --font: #e1e1e1;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #e1e1e1;
    --accent: #060626;
    --font: #060626;
  }
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainContainer {
  display: flex;
  background-color: var(--background);
  /* border: solid 1px var(--accent); */
  border-radius: 0rem;

  height: 100%;
  animation: shadow 8s ease infinite;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.heading1 {
  font-size: 2rem;
  color: #e3ff11;
  mix-blend-mode: difference;
}

@keyframes shadow {
  0%,
  100% {
    box-shadow: inset 0 0 20px 30px var(--accent);
  }
  50% {
    box-shadow: inset 0 0 30px 40px var(--accent);
  }
}
